.page-list-show {

    & .items-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
        align-items: center;

        & > .item {
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ececec;
            text-align: center;

            & h3 {
                display: inline-block;
            }
            
            & img {
                width: 100%;
                margin-bottom: 16px;
            }

            & button, & form, & a.btn {
                display: inline-block;
                margin-right: 8px;
                margin-bottom: 8px;
            }
        }

    }

    .messages {

        .message {
            & {
                background-color: var(--clr-light);
                border-radius: 5px;
                padding: 2rem;
                box-shadow: var(--eft-neumorphism-shadow);
                margin-bottom: 1.5rem;
            }

            form {
                & {
                    margin-top : 0.5rem;
                }

                button {
                    margin-left: 0.5rem;
                    padding: 0.5rem 0.75rem;
                    justify-content: end;
                    float:right;
                }

                #editmessage {
                    background-color:white;
                }
            }
             
            
        }
    }
}