html,
body {
    width: 100%;
    min-width: 100vw;
    background-color: var(--clr-light);
}

:root {
    font-family: var(--ff-paragraph);
    font-weight: var(--fw-regular);
    color: var(--clr-dark);
}

* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

a:visited {
    color: var(--clr-primary);
}

// TITLE

h1,
.title {
    font-family: var(--ff-title);
    font-weight: var(--fw-bold);
    font-size: 2.5rem;
}

h2,
.sub-title {
    font-family: var(--ff-paragraph);
    font-weight: var(--fw-bold);
    font-weight: 2rem;
}

h3,
.sub-title-2 {
    font-family: var(--ff-paragraph);
    font-weight: var(--fw-regular);
    font-weight: 2rem;
}