// LABEL
label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

// INPUT
input, .input, textarea {
    color: inherit;
    border: none;
    background-color: var(--clr-light);
    border-radius: 5px;
    padding: .5rem 1rem;
}

textarea {
    max-width: 100%;
}

// GROUPS
.form-group {
    margin-bottom: 16px;
}

// BUTTON
.btn {
    border-radius: 5px;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    background: none;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--clr-primary);
    border: none;
    color: var(--clr-white);
}

.btn-secondary {
    color: var(--clr-primary);
    border: thin solid var(--clr-primary);
}

.btn-light {
    padding: 0;
    border: none;
    text-decoration: underline;
    color: var(--clr-dark);
}