.container {
    width: 100%;
    max-width: 850px;
    background-color: #fff;
    margin: 40px 16px;
    padding: 24px;
    border-radius: 5px;
    
    @media all and (min-width: 1000px) {
        padding: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    & p + * {
        margin-top: 16px;
    }

    & h1 {
        margin-bottom: 24px;
    }

    & h2 {
        margin-top: 32px;
        margin-bottom: 16px;
    }
    
    & h3 {
        font-weight: bolder;
        font-size: 18px;
        margin-bottom: 16px;
    }
}

.container-full {
    max-width: 1200px;
}

.container.big {
    max-width: 50vw;
}
