:root {
    --clr-primary: #7A9ACC;
    --clr-secondary: #EE9023;
    --clr-dark: #2D3142;
    --clr-dark-2: #535769;
    --clr-light: #F4F4F4;
    --clr-white: #FFFFFF;
  
    --ff-title: 'Abhaya Libre', serif;
    --ff-paragraph: 'Nunito', sans-serif;
  
    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 600;
  
    --eft-neumorphism-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.07),
                              -5px -5px 10px 0 rgba(255, 255, 255, 0.2)
  }